<div class="accordion accordion-flush shadow" id="accordionUserList">
  @for (user of paginatedUsers(); track user.id; let i = $index) {
  <div class="accordion-item">
    <div class="accordion-header d-flex align-items-center" id="heading{{ user.id }}">
      <h3 class="mb-0 flex-grow-1">
        <button class="accordion-button d-flex align-items-center gap-2" [class.collapsed]="i !== 0"
          type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + user.id"
          [attr.aria-expanded]="i === 0" [attr.aria-controls]="'collapse' + user.id">
          <span class="fw-semibold d-flex align-items-center">
            <span class="badge bg-secondary fw-bold me-2">
              {{ (pagination.currentPage() - 1) * pagination.itemsPerPage() + i + 1 }}
            </span>
            <span class="user-name">
              {{ user.username }} <span class="text-muted">({{ user.role_name | uppercase }})</span>
            </span>
          </span>
        </button>
      </h3>

      <!-- Buttons -->
      @if (user.id !== SUPERADMIN_USER_ID) {
      <div class="d-flex align-items-center gap-2 mx-2">
        <button class="btn btn-sm btn-outline-secondary text-nowrap" [routerLink]="['/dashboard/create-user', user.id]"
          aria-label="Benutzer bearbeiten" title="Benutzer bearbeiten">
          <i class="bi bi-pencil"></i>
        </button>

        <button class="btn btn-sm btn-outline-danger" (click)="deleteService.openDeleteModal('tbl_users', user.id)"
          aria-label="Benutzer löschen" title="Benutzer löschen">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      }
    </div>
    <!-- Collapse Content -->
    <div [id]="'collapse' + user.id" class="accordion-collapse collapse" [class.show]="i === 0"
      [attr.aria-labelledby]="'heading' + user.id" data-bs-parent="#accordionUserList">
      <div class="accordion-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <h6 class="fw-semibold">{{ 'lists.user.headings.email' | translate }}</h6>
            <p class="fs-6 mb-0">

              <a href="mailto:{{ user.email }}"
                class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                <i class="bi bi-envelope me-1"></i>
                {{ user.email }}
              </a>
            </p>
          </div>
          <div class="col-md-6">
            <h6 class="fw-semibold">{{ 'lists.user.headings.createdAt' | translate }}</h6>
            <p class="fs-6 mb-0">
              <i class="bi bi-clock me-1"></i>
              {{ user.created_at | date:'short':undefined:languageService.locale }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @empty {
  <p class="text-muted m-2">{{ 'lists.user.emptyMessage' | translate }}</p>
  }
</div>
<app-pagination></app-pagination>