.pagination .page-link {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    cursor: pointer;
}

.pagination .page-link:hover {
    background-color: var(--bs-primary-hover-bg);
    color: #ffffff !important;
}

.pagination .page-item.active .page-link {
    background-color: var(--bs-primary);
    color: #ffffff !important;
}

.pagination .page-item.active .page-link:hover {
    background-color: var(--bs-primary-hover-bg);
}

.disabled {
    opacity: 0.75;
}