<section class="bg-body-tertiary py-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="mb-4">{{ 'contact.title' | translate }}</h2>
        <p>
          {{ 'contact.subtitle' | translate }}
          <a href="mailto:kontakt@andreas-web.dev"
            class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">kontakt&#64;andreas-web.dev</a>.
        </p>

        <form (ngSubmit)="onSubmit()" id="contact-form">
          <div class="form-floating mb-4">
            <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="formData.name" name="name"
              required />
            <label for="name">{{ 'contact.form.fields.name' | translate }}</label>
          </div>

          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="email" placeholder="Email-Adresse" [(ngModel)]="formData.email"
              name="email" required />
            <label for="email">{{ 'contact.form.fields.email' | translate }}</label>
          </div>

          <div class="form-floating mb-4">
            <textarea class="form-control" id="message" placeholder="Nachricht" style="height: 150px"
              [(ngModel)]="formData.message" name="message" required></textarea>
            <label for="message">{{ 'contact.form.fields.message' | translate }}</label>
          </div>

          <app-recaptcha></app-recaptcha>

          <button type="submit" class="btn btn-primary btn-lg custom-primary-hover" [disabled]="isLoading()">
            <span class="d-inline-flex align-items-center">
              {{ 'contact.form.submit' | translate }}
              @if (isLoading()) {
              <span class="spinner-border spinner-border-sm ms-2" aria-hidden="true"></span>
              } @else {
              <i class="bi bi-send ms-2"></i>
              }
            </span>
          </button>

          <!-- Fehler & Erfolgsmeldungen -->
          @if (errorType() || serverErrorType()) {
            <div class="alert alert-danger mt-4" role="alert">
              @if (errorType() === 'empty') {
                {{ 'contact.form.messages.emptyFields' | translate }}
              } @else if (errorType() === 'invalidEmail') {
                {{ 'contact.form.messages.invalidEmail' | translate }}
              } @else if (errorType() === 'recaptchaMissing') {
                {{ 'contact.form.messages.recaptcha' | translate }}
              } @else if (errorType() === 'serverError') {
                {{ 'contact.form.messages.serverError' | translate }}
              } @else if (serverErrorType() === 'recaptchaFailed') {
                {{ 'serverErrors.recaptchaFailed' | translate }}
              } @else if (serverErrorType() === 'emptyFields') {
                {{ 'serverErrors.emptyFields' | translate }}
              }
            </div>
          } @else if (submitSuccess()) {
            <div class="alert alert-success mt-4" role="alert">
              {{ 'contact.form.messages.success' | translate }}
            </div>
          }
        </form>
      </div>
    </div>
  </div>
</section>