<footer>
  <div class="container-fluid bg-body">
    <div class="row pt-5 pb-3 border-top">
      <!-- Linke Spalte: Slogan -->
      <div class="col-12 col-xl-5">
        <p class="fs-2 fw-semibold">{{ 'footer.slogan.title' | translate }}</p>
        <p class="fs-5 mb-5 text-muted">{{ 'footer.slogan.subtitle' | translate }}</p>
      </div>

      <!-- Rechte Spalten: 2 Link-Listen + Social -->
      <div class="col-12 col-xl-7 row">
        <div class="col-lg-4 col-sm-6">
          <h3 class="mt-3 mb-2">{{ 'footer.section1.title' | translate }}</h3>
          <ul class="list-unstyled">
            <li><a routerLink="/jobs" routerLinkActive="active"
                class="link-body-emphasis link-offset-1 link-underline-opacity-25 link-underline-opacity-75-hover">{{
                'footer.section1.items.item1' | translate }}</a></li>
            <li><a routerLink="/under-construction"
                class="link-body-emphasis link-offset-1 link-underline-opacity-25 link-underline-opacity-75-hover">{{
                'footer.section1.items.item2' | translate }}</a></li>
            <li><a routerLink="/under-construction"
                class="link-body-emphasis link-offset-1 link-underline-opacity-25 link-underline-opacity-75-hover">{{
                'footer.section1.items.item3' | translate }}</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-sm-6">
          <h3 class="mt-3 mb-2">{{ 'footer.section2.title' | translate }}</h3>
          <ul class="list-unstyled">
            <li><a routerLink="/under-construction"
                class="link-body-emphasis link-offset-1 link-underline-opacity-25 link-underline-opacity-75-hover">{{
                'footer.section2.items.item1' | translate }}</a></li>
            <li><a routerLink="/contact" routerLinkActive="active"
                class="link-body-emphasis link-offset-1 link-underline-opacity-25 link-underline-opacity-75-hover">{{
                'footer.section2.items.item2' | translate }}</a></li>
            <li><a routerLink="/under-construction"
                class="link-body-emphasis link-offset-1 link-underline-opacity-25 link-underline-opacity-75-hover">{{
                'footer.section2.items.item3' | translate }}</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-sm-6">
          <h3 class="mt-3 mb-3">Social</h3>
          <ul class="social-links list-unstyled d-flex gap-3">
            <li>
              <a href="https://www.linkedin.com/in/andreas-lesovsky-98a464306" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn Profil von Andreas" class="icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-linkedin">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                  <rect x="2" y="9" width="4" height="12"></rect>
                  <circle cx="4" cy="4" r="2"></circle>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/AndreasLesovsky" target="_blank" rel="noopener noreferrer"
                aria-label="GitHub Profil von Andreas" class="icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-github">
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container-fluid d-flex justify-content-between align-items-center flex-wrap border-top bg-body-secondary py-2  pe-lg-4">
    <p class="fs-5 mb-0">
      <span class="text-muted">©</span> {{ currentYear }} <span class="fw-bold"
        style="font-family: 'Orbitron', sans-serif;">JobPortal</span>
    </p>

    <div class="lang-switch">
      <button (click)="languageService.translateText('en')" class="lang-link">EN</button> /
      <button (click)="languageService.translateText('de')" class="lang-link">DE</button>
    </div>
  </div>
</footer>