<div class="row g-4">
  <div class="col-md-4">
    <div class="card h-100 text-center shadow">
      <div class="card-body">
        <i class="bi bi-cup-hot display-1 mb-4"></i>
        <h5 class="card-title fw-semibold">{{ 'benefits.cardTitle1' | translate }}</h5>
        <p class="card-text">{{ 'benefits.cardText1' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card h-100 text-center shadow">
      <div class="card-body">
        <i class="bi bi-basket display-1 mb-4"></i>
        <h5 class="card-title fw-semibold">{{ 'benefits.cardTitle2' | translate }}</h5>
        <p class="card-text">{{ 'benefits.cardText2' | translate }}</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card h-100 text-center shadow">
      <div class="card-body">
        <i class="bi bi-laptop display-1 mb-4"></i>
        <h5 class="card-title fw-semibold">{{ 'benefits.cardTitle3' | translate }}</h5>
        <p class="card-text">{{ 'benefits.cardText3' | translate }}</p>
      </div>
    </div>
  </div>
</div>